:root {
    font-size: 10px;
    --cinza-texto: #626262;
    --preto-texto: #242424;
    --branco-basico: #ebebeb;
    --cinza-claro: #8b8b8b;
}

body {
    padding: 0;
    margin: 0;
}

header {
    margin: 0 12%;
}

nav {
    display: flex;
    justify-content: space-between;
}


.kantumruy-pro {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 1rem;
}

#contatos {
    display: flex;
}

#contatos>p {
    margin-left: 10px;
}

#nome-container>p {
    font-size: 0.8rem;
}


main {
    margin: 0 12%
}

#main-descricao {
    width: 50%;
}

.main-sub-texto {
    color: var(--cinza-texto);
}

#main-titulo {
    font-weight: 500;
    font-size: 1.9rem;
    color: var(--preto-texto);
}


#main-conteudo {
    display: flex;
    min-height: fit-content;
    justify-content: space-between;

}

.projetos-cards {
    display: flex;
    flex-direction: column;
    width: 200px;


}

.card-img {

    height: 154px;
    background-color: var(--cinza-claro);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img>a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
}

#projeto-1 {
    background-image: url(./imagens/receitas.png);
}